* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
}

.body {
  background-image: url(./Images/Header-llustration-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
  background-position: 70%;
}

.menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
  margin: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.menu a {
  color: #344563;
}

.main-menu {
  display: none;
}

.body h1 {
  margin-top: 100px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.body h2 {
  color: #36b37e;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 10px;
}

.body p {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
}

.icon {
  margin-top: 40px;
}

.icon ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.icon a {
  margin: 10px;
  color: #505f79;
  font-size: 20px;
}

.pointer {
  margin-top: 50px;
}

.pointer li {
  list-style-type: none;
}

.pointer a {
  color: grey;
  font-size: 20px;
}

.page-1 {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'grid grid grid'
    'grid grid grid';
  justify-content: center;
}

.header h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-top: 50px;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
}

.grid1 {
  height: 300px;
  border-radius: 5px;
  background: #ebf0ee;
}

.grid2 {
  background: #fff;
  border-radius: 10px;
  width: 100%;
}

.grid2 h2 {
  color: #3a4a42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.grid2 ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 2%;
}

.grid2 li {
  border: 1px solid #ebf0ee;
  background: #ebf0ee;
  border-radius: 4px;
  padding: 2%;
  color: #3a4a42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.grid2 button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #36b37f;
  background: #36b37f;
  width: 125px;
  height: 50px;
  margin-bottom: 30px;
}

.abt-main {
  background-image: url(./Images/About\ desktop.png);
  background-repeat: no-repeat;
  background-position: right 0%;
}

.resume {
  background-image: url(./Images/illustration-about-me-2-desktop.png);
  background-repeat: no-repeat;
}

.abt-main h3 {
  margin-top: 90px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.abt-main p {
  color: #42526e;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-top: 30px;
  width: 80%;
  margin-left: 10%;
}

.abt-main button {
  border: 1px solid #36b37f;
  width: 160px;
  height: 50px;
  border-radius: 4px;
  background: #36b37f;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.abt-card {
  display: grid;
  grid-template-columns: 23% 23% 23%;
  grid-template-rows: 1fr;
  grid-template-areas: 'card card card';
  justify-content: center;
}

.card {
  margin: 10px;
  background: #ebf0ee;
  height: 350px;
  border-radius: 20px;
}

.card h4 {
  color: #344563;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.card ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 40px;
}

.card li {
  border: 1px solid #fff;
  padding: 6px;
  border-radius: 4px;
  background: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  transition: 0.5s;
}

.contact {
  background-image: url(./Images/illustration-1-contact-form-desktop.png);
  background-repeat: no-repeat;
  background-position: left 90%;
}

.contact-main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-template-areas: 'description form';
  justify-content: center;
  margin-top: 100px;
  margin-left: 100px;
  height: 600px;
}

.description {
  background-image: url(./Images/illustration-2-contact-form-desktop.png);
  background-repeat: no-repeat;
  background-position: 250px 90%;
}

.form {
  display: flex;
  flex-direction: column;
  background-image: url(./Images/contact\ form-illustratoin-3-desktop.png);
  background-repeat: no-repeat;
  background-position: right 100%;
  grid-area: form;
  margin: 0;
}

.contact h5 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 20px;
  grid-area: description;
  margin-top: 10%;
}

.contact input {
  margin-top: 15px;
  height: 40px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: 70px;
}

.contact ::placeholder {
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.contact textarea {
  width: 78%;
  height: 150px;
  margin-top: 15px;
  border-radius: 5px;
  padding: 5px;
  margin-right: 70px;
}

.contact button {
  margin-top: 15px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 130px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: #36b37f;
  border: 1px solid #36b37f;
  border-radius: 5px;
  margin-right: 71%;
}

.contact button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}

.contact button:active {
  cursor: pointer;
  background: #008552;
}

.contact-footer hr {
  background: #dfe1e6;
}

.contact-footer ul {
  display: block;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 10px;
  font-size: 20px;
}

.form ul {
  display: none;
}

.contact a {
  color: grey;
}

.contact-footer p {
  display: none;
}

.pop-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 110;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 80%;
  max-width: 900px;
  height: 90%;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  margin: auto;
}

.close-pop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.close-pop img {
  font-size: 25px;
  cursor: pointer;
  background: #ebecf0;
  padding: 5px;
  transition: 0.5s ease-in-out;
  position: 100%;
}

.pop-bg {
  width: 100%;
  height: 55%;
  background-size: cover;
  background-repeat: no-repeat;
}

.pop-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.pop-head h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.pop-btn {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  position: absolute;
  gap: 10px;
  top: 65%;
  right: 3%;
}

.pop-btn a {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
  background: #36b37e;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 4px;
}

.pop-container ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  gap: 10px;
  margin-top: 15px;
}

.pop-container li {
  background: #ebecf0;
  padding: 6px;
  border-radius: 4px;
}

.small {
  display: none;
}

.pop-body {
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #172b4d;
}

.pop-body p {
  text-align: left;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #9ba2a8a1;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out all;
  backdrop-filter: blur(50px);
  display: none;
}

.pop-hidden {
  display: none;
}

#error-msg {
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  color: red;
}

.contact li:hover {
  cursor: pointer;
  translate: 5px;
}

.contact a:hover {
  cursor: pointer;
  color: blue;
}

.line hr {
  display: none;
}

.menu li:hover {
  color: blue;
  cursor: pointer;
  transform: scale(1.2);
  transition: 1s;
}

.icon li:hover {
  cursor: pointer;
  translate: 5px;
}

.pointer a:hover {
  cursor: pointer;
  color: blue;
}

.grid2 li:hover {
  cursor: pointer;
  color: blue;
  transform: scale(1.1);
  transition: 1s;
}

.grid2 li:active {
  cursor: pointer;
  background: #008552;
}

.grid2 button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}

.grid2 button:active {
  cursor: pointer;
  background: #008552;
}

.abt-main button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}

.abt-main button:active {
  cursor: pointer;
  background: #008552;
}

.card li:hover {
  cursor: pointer;
  color: blue;
  transform: scale(1.2);
}

.card li:active {
  cursor: pointer;
  background: #008552;
}

.description h5:hover {
  transform: scale(1.05);
  transition: 1s;
}

textarea:hover {
  border: 1px solid #60c095;
  transform: scale(1.05);
}

input:hover {
  border: 1px solid #60c095;
  transform: scale(1.05);
}

.close-pop img:hover {
  transform: scale(1.2);
}

.pop-btn a:hover {
  background: #45c58f;
  transition: 0.5s;
  transform: scale(1.1);
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1000px) {
  .page-1 {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'grid grid'
      'grid grid'
      'grid grid';
  }

  .abt-card {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'card card'
      'card card';
  }

  .contact-main {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr;
    grid-template-areas: 'description form';
    justify-content: center;
    margin: 10px;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .h-menu {
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    height: 60px;
  }

  .main-menu {
    display: block;
  }

  .body {
    background-image: url(./Images/header-illsutration-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-position: 100%;
  }

  .body h1 {
    margin-top: 60px;
  }

  .menu {
    display: none;
  }

  .main-menu i {
    font-size: 20px;
    position: absolute;
    right: 2%;
  }

  .body p {
    width: 90%;
    margin-left: 10px;
  }

  .greet {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #28352f;
    position: absolute;
    left: 2%;
  }

  .hidden-menu {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #e5e5e5;
    overflow: hidden;
  }

  .hid-menu {
    border: 1px solid white;
    height: 90vh;
    background-color: white;
    border-radius: 0 0 20px 20px;
  }

  .hidden-menu hr {
    margin-left: 40%;
    width: 134px;
    height: 4px;
    background: #0d151e;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
  }

  .hidden-cont {
    position: absolute;
    left: 7%;
    top: 10%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    list-style: none;
  }

  .hidden-cont li {
    margin-top: 30px;
    text-align: left;
  }

  .hidden-cont a {
    color: #3a4a42;
    font-size: 32px;
  }

  .pointer {
    margin-top: 80px;
  }

  .greet:hover {
    color: blue;
    cursor: pointer;
    transform: scale(1.1);
  }

  .hidden-cont a:hover {
    cursor: pointer;
    color: blue;
  }

  .close-btn {
    position: absolute;
    right: 10%;
    top: 5%;
    font-size: 2rem;
    cursor: pointer;
    color: #67798e;
  }

  .main-menu i:hover {
    cursor: pointer;
    color: blue;
    transform: scale(1.1);
  }

  .line hr {
    display: block;
    background: #36b37e;
    width: 10%;
    height: 5px;
    border-radius: 24px;
    margin-left: 45%;
  }

  .page-1 {
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'grid'
      'grid'
      'grid'
      'grid'
      'grid'
      'grid';
  }

  .grid {
    margin: 30px;
  }

  .abt-main {
    background-image: url(./Images/illustration\ 1-\ about\ me-mobile.png);
    background-repeat: no-repeat;
    background-position: right 0%;
  }

  .resume {
    background-image: url(./Images/illustration\ 2-about\ me\ mobile.png);
    background-repeat: no-repeat;
    background-position: left 100%;
  }

  .abt-main p {
    width: 90%;
    margin-left: 10px;
  }

  .abt-card {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'card'
      'card'
      'card';
  }

  .contact-main {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 0.7fr 1fr;
    grid-template-areas:
      'description'
      'form';
    justify-content: center;
    height: 100%;
    background-image: url(./Images/illustration-contact-form.png);
    background-repeat: no-repeat;
    background-position: right 100%;
  }

  .contact {
    background-image: none;
  }

  .contact h5 {
    margin-top: 0%;
  }

  .description {
    background-image: none;
  }

  .form {
    background-image: none;
  }

  .contact input {
    width: 90%;
    transition: 0.4s;
  }

  .contact textarea {
    width: 88%;
    transition: 0.5s;
  }

  .contact button {
    margin-right: 0;
  }

  .form ul {
    display: block;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 40px;
    gap: 10px;
    font-size: 20px;
  }

  .contact-footer p {
    display: block;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #42526e;
  }

  .contact-footer hr {
    margin: 100px 120px 10px 35%;
    width: 134px;
    height: 4px;
    background: #0d151e;
    border-radius: 10px;
  }

  .contact-footer ul {
    display: none;
  }

  .pop-container {
    width: 90%;
    height: 95%;
  }

  .pop-bg {
    height: 150px;
    background-image: url(./Images/Portfolio\ details\ mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .big {
    display: none;
  }

  .small {
    display: block;
  }

  .pop-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    top: 90%;
    left: 2%;
  }

  .close-pop {
    position: absolute;
    top: 3%;
    right: 7%;
    background-color: transparent;
  }
}
